<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="interriorMapper">
  <resultMap type="Interrior" id="interriorResult">
      <result column ="inter_no" property="interNo"/>
      <result column ="sel_no" property="selNo"/>
      <result column ="sel_bus_name" property="selBusName"/>
      <result column ="inter_title" property="interTitle"/>
      <result column ="inter_content" property="interContent"/>
      <result column ="inter_mainimg_ori" property="interMainimgOri"/>
      <result column ="inter_mainimg_change" property="interMainimgChange"/>
      <result column ="inter_img_ori" property="interImgOri"/>
      <result column ="inter_img_change" property="interImgChange"/>
      <result column ="inter_date" property="interDate"/>
      <result column ="inter_count" property="interCount"/>
      <result column ="inter_like" property="interLike"/>
      <result column ="inter_home" property="interHome"/>
      <result column ="inter_family" property="interFamily"/>
      <result column ="sel_email" property="selEmail"/>
  </resultMap> 
  
  <select id="interriorInfo" resultMap="interriorResult">
  	select i.*, sel_bus_name from interrior i join seller_base s on (i.sel_no = s.sel_no) where i.sel_no = #{selNo}
  </select>
  
  <select id="selectInterrior" resultMap="interriorResult">
  	select inter_no, sel_no, sel_bus_name, inter_title, inter_content, inter_mainimg_ori, inter_mainimg_change, inter_date, inter_count, inter_like, inter_home,
	inter_family, sel_email 
	from interrior join seller_base using (sel_no) 
	where inter_no = #{interNo}
  </select>
  
  <insert id="insertInterrior">
  	insert into interrior values(inter_seq.nextval, #{selNo}, #{interTitle}, #{interContent}, #{interMainimgOri}, #{interMainimgChange}, NULL, NULL, sysdate, 0, 0, #{interHome}, #{interFamily})
  </insert>
  
  <update id="increaseCount">
  	update interrior set inter_count = inter_count+1 where inter_no = #{interNo}
  </update>

  
</mapper>