<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="mainMapper">
	<resultMap type="Main" id="storeBoardResult">
		<result column="pro_no" property="proNo" />
		<result column="sel_no" property="selNo" />
		<result column="cate_no" property="cateNo" />
		<result column="cate_name" property="cateName" />
		<result column="pro_white_stock" property="proWhiteStock" />
		<result column="pro_black_stock" property="proBlackStock" />
		<result column="pro_name" property="proName" />
		<result column="pro_price" property="proPrice" />
		<result column="pro_up_date" property="proUpDate" />
		<result column="pro_origin_img" property="proOriginImg" />
		<result column="pro_change_img" property="proChangeImg" />
		<result column="pro_origin_img1" property="proOriginImg1" />
		<result column="pro_change_img1" property="proChangeImg1" />
		<result column="pro_origin_detailimg" property="proOriginDetailimg" />
		<result column="pro_change_detailimg" property="proChangeDetailimg" />
		<result column="status" property="status" />
		<result column="pro_count" property="proCount" />
		<!-- SELLER -->
		<result column="sel_bus_name" property="selBusName" />
		<result column="sel_email" property="selEmail" />
		<result column="sel_name" property="selName" />
		<result column="sel_phone" property="selPhone" />
		<result column="sel_addr" property="selAddr" />
		<result column="sel_detail_addr" property="selDetailAddr" />
		<result column="sel_bus_no" property="selBusNo" />
		<!-- REVIEW -->
		<result column="review_no" property="reviewNo" />
		<result column="ord_no" property="ordNo" />
		<result column="mem_email" property="memEmail" />
		<result column="review_img_origin" property="reviewImgOrigin" />
		<result column="review_img_change" property="reviewImgChange" />
		<result column="review_content" property="reviewContent" />
		<result column="review_date" property="reviewDate" />
		<result column="review_star" property="reviewStar" />
		<result column="mem_nick" property="memNick" />
		<result column="ord_option" property="ordOption" />
		<!-- QUESTION -->
		<result column="pro_que_no" property="proQueNo" />
		<result column="mem_id" property="memId" />
		<result column="pro_que_type" property="proQueType" />
		<result column="pro_que_content" property="proQueContent" />
		<result column="pro_que_result" property="proQueResult" />
		<result column="pro_que_date" property="proQueDate" />
		<result column="pro_que_ispublic" property="proQueIspublic" />
		<!-- ANSWER -->
		<result column="que_reply_no" property="queReplyNo" />
		<result column="que_reply_content" property="queReplyContent" />
		<result column="que_reply_date" property="queReplyDate" />
		<result column="pqr_status" property="pqrStatus" />
		<!-- 집들이 -->
		<result column="board_no" property="boardNo" />
		<result column="board_mainimg_change" property="boardMainImgChange" />
		<result column="home_familyv" property="homeFamily" />
		<result column="home_option" property="homeOption" />
		<result column="board_title" property="boardTitle" />
		<result column="board_count" property="boardCount" />
		
		<result column="ord_no" property="orderNo"/>
		<result column="ord_email" property="ordEmail"/>
		<result column="ord_date" property="orderDate"/>
		<result column="ord_zipcode" property="orderZipcode"/>
		<result column="ord_addr" property="orderAddr"/>
		<result column="ord_count" property="orderCount"/>
		<result column="ord_detail_addr" property="orderDetailAddr"/>
		<result column="cus_name" property="cusName"/>
		<result column="cus_phone" property="cusPhone"/>
		<result column="ord_request" property="orderRequest"/>
	</resultMap>

	<!-- 카테고리별 조회수 TOP1(8개) 리스트 조회 -->
	<select id="topStoreBoardList" resultMap="storeBoardResult">
		select a.*, b.sel_bus_name
		from(select cate_no, pro_count, pro_change_img, pro_name, pro_price, sel_no, pro_no, status,
		rank() OVER (PARTITION BY cate_no ORDER BY pro_count desc, pro_price desc) as ranking
		from product
		where status = 'Y') a,
		seller_base b
		where a.sel_no = b.sel_no
		and ranking = 1
	</select>
	
	<!-- 집들이 조회수 TOP3 리스트 조회 -->
	<select id="topStoreBoardList2" resultMap="storeBoardResult">
		select BOARD_MAINIMG_CHANGE, HOME_FAMILYV, HOME_OPTION, BOARD_TITLE, board_count, board_no
		from (select r.*
				   , rownum 
			  from board_home r 
			  where r.status = 'Y' 
			  order by board_count desc)
		where rownum between 1 and 3
	</select>
	
	<!-- 전체상품 조회수 TOP3 리스트 조회 -->
	<select id="topStoreBoardList3" resultMap="storeBoardResult">
		select *
		from (select pro_change_img
				   , sb.sel_bus_name
				   , pro.pro_name
				   , pro.pro_price
				   , pro.pro_no
			  from product pro, seller_base sb
			  where pro.sel_no = sb.sel_no
			  and status = 'Y'
			  order by pro.pro_count desc)
		where rownum between 1 and 3
	</select>
	
	<!-- 상품 신규 리스트 8개 조회(최신순으로 정렬) -->
	<select id="topStoreBoardList4" resultMap="storeBoardResult">
		select *
		from (select pro_change_img
			  , sb.sel_bus_name
			   , pro.pro_name
			   , pro.pro_price
		       , pro.pro_up_date
		       , pro.pro_no
			from product pro, seller_base sb
			where pro.sel_no = sb.sel_no
			and status = 'Y'
			order by pro.pro_up_date desc)
		where rownum between 1 and 8
	</select>
	
	
	<select id="searchList" resultMap="storeBoardResult">
		select * from product
		where pro_name like '%' || #{searchWord} || '%'
		and status = 'Y'
	</select>
	
	
</mapper>

