<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="sellerMapper">
  <resultMap type="Seller" id="sellerResult">
  	<result column="sel_no" property="selNo"/>
  	<result column="sel_email" property="selEmail"/>
  	<result column="sel_pwd" property="selPwd"/>
  	<result column="sel_name" property="selName"/>
  	<result column="sel_bus_name" property="selBusName"/>
  	<result column="sel_phone" property="selPhone"/>
  	<result column="sel_bus_no" property="selBusNo"/>
  	<result column="sel_zipcode" property="selZipcode"/>
  	<result column="sel_addr" property="selAddr"/>
  	<result column="sel_detail_addr" property="selDetailAddr"/>
  	<result column="mem_permit" property="memPermit"/>
  	<result column="sel_point" property="selPoint"/>
  	<result column="sel_status" property="selStatus"/>
  	<result column="sel_inter" property="selInter"/>
  	<result column="sel_inter_introduce" property="selInterIntroduce"/>
  	<result column ="inter_mainimg_change" property="interMainimgChange"/>
  	<result column ="inter_date" property="interDate"/>
  </resultMap>
  <resultMap type="Seller" id="searchUserResult">
  	<result column="sel_no" property="selNo"/>
  	<result column="sel_email" property="selEmail"/>
  	<result column="sel_pwd" property="selPwd"/>
  	<result column="sel_bus_name" property="selBusName"/>
  	<result column="mem_permit" property="memPermit"/>
  </resultMap>
  <select id="searchUser" resultMap="sellerResult">
  	select * from seller_base where sel_email = #{selEmail}
  </select>
  
  <select id="searchIdVali" resultType="_int">
  	select count(*) from seller_base where sel_email = #{id}
  </select>
  
  <select id="getAllSeller" resultMap="sellerResult">
	select sel_no, sel_email, sel_pwd, sel_name, sel_bus_name, sel_phone, sel_bus_no, sel_zipcode, sel_addr,
	sel_detail_addr, mem_permit, sel_point, sel_status, sel_inter, sel_inter_introduce, inter_mainimg_change, inter_date
	from seller_base s 
	left join (select * from interrior where(sel_no, inter_date) in (select sel_no, min(inter_date) from interrior group by sel_no)) using (sel_no)
	where sel_inter = 'Y' order by DBMS_RANDOM.RANDOM
  </select>
  
  
  
  <insert id="insertMember">
  	insert into seller_base values(sel_seq.nextval, #{selEmail}, #{selPwd}, #{selName}, #{selBusName}, #{selPhone}, #{selBusNo}, #{selZipcode}, #{selAddr}, #{selDetailAddr}, default, 0, default, #{selInter}, #{selInterIntroduce})
  </insert>
  
</mapper>