<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="storeBoardMapper">
	<resultMap type="Product" id="storeBoardResult">
		<result column="pro_no" property="proNo" />
		<result column="sel_no" property="selNo" />
		<result column="cate_no" property="cateNo" />
		<result column="cate_name" property="cateName" />
		<result column="pro_white_stock" property="proWhiteStock" />
		<result column="pro_black_stock" property="proBlackStock" />
		<result column="pro_name" property="proName" />
		<result column="pro_price" property="proPrice" />
		<result column="pro_up_date" property="proUpDate" />
		<result column="pro_origin_img" property="proOriginImg" />
		<result column="pro_change_img" property="proChangeImg" />
		<result column="pro_origin_img1" property="proOriginImg1" />
		<result column="pro_change_img1" property="proChangeImg1" />
		<result column="pro_origin_detailimg" property="proOriginDetailimg" />
		<result column="pro_change_detailimg" property="proChangeDetailimg" />
		<result column="status" property="status" />
		<result column="pro_count" property="proCount" />
		<!-- SELLER -->
		<result column="sel_bus_name" property="selBusName" />
		<result column="sel_email" property="selEmail" />
		<result column="sel_name" property="selName" />
		<result column="sel_phone" property="selPhone" />
		<result column="sel_addr" property="selAddr" />
		<result column="sel_detail_addr" property="selDetailAddr" />
		<result column="sel_bus_no" property="selBusNo" />
		<!-- REVIEW -->
		<result column="review_no" property="reviewNo" />
		<result column="ord_no" property="ordNo" />
		<result column="mem_email" property="memEmail" />
		<result column="review_img_origin" property="reviewImgOrigin" />
		<result column="review_img_change" property="reviewImgChange" />
		<result column="review_content" property="reviewContent" />
		<result column="review_date" property="reviewDate" />
		<result column="review_star" property="reviewStar" />
		<result column="mem_nick" property="memNick" />
		<result column="ord_option" property="ordOption" />
		<!-- QUESTION -->
		<result column="pro_que_no" property="proQueNo" />
		<result column="mem_id" property="memId" />
		<result column="pro_que_type" property="proQueType" />
		<result column="pro_que_content" property="proQueContent" />
		<result column="pro_que_result" property="proQueResult" />
		<result column="pro_que_date" property="proQueDate" />
		<result column="pro_que_ispublic" property="proQueIspublic" />
		<!-- ANSWER -->
		<result column="que_reply_no" property="queReplyNo" />
		<result column="que_reply_content" property="queReplyContent" />
		<result column="que_reply_date" property="queReplyDate" />
	</resultMap>
	

	<select id="selectListCount" resultType="_int">
		select count(*)
			from product
		  where status = 'Y'
	</select>
	
	<select id="selectCateListCount" resultType="_int">
		select count(*)
			from product pro
		  where pro.status = 'Y'
		  and pro.cate_no = #{cateNo}
	</select>
	
	<select id="selectList" resultType="Product" resultMap="storeBoardResult"> 
		select pro_no
			 , pro.pro_origin_img
			 , sb.sel_no
			 , sb.sel_bus_name
			 , sb.sel_name
			 , sb.sel_email
			 , sb.sel_bus_no
			 , sb.sel_addr
			 , sb.sel_detail_addr
			 , pro.pro_name
			 , pro.pro_price
			 , pro.cate_no
		  from product pro, seller_base sb
		  where pro.sel_no = sb.sel_no 
		  and pro.status = 'Y'
		 order by pro.pro_no desc
	</select>
	
	<select id="selectCateList" resultType="Product" resultMap="storeBoardResult"> 
		 select pro_no
			 , pro.pro_origin_img
			 , sb.sel_bus_name
			 , sb.sel_name
			 , sb.sel_email
			 , sb.sel_bus_no
			 , sb.sel_addr
			 , sb.sel_detail_addr
			 , pro.pro_name
			 , pro.pro_price
			 , pro.cate_no
		  from product pro, seller_base sb
		  where pro.sel_no = sb.sel_no 
		  and pro.status = 'Y'
		  and pro.cate_no = #{cateNo}
		 order by pro.pro_no desc
	</select>
	
	<update id="increaseCount">
		update product
			set pro_count = pro_count+1
		  where pro_no = #{proNo} and status = 'Y'
	</update>
	
	<select id="selectBoard" resultType="Product" resultMap="storeBoardResult">
		select p.pro_no
			 , s.sel_bus_name
			 , s.sel_no
			 , s.sel_phone
			 , s.sel_bus_no
			 , s.sel_name
			 , s.sel_addr
			 , s.sel_detail_addr
			 , s.sel_email
			 , p.cate_no
			 , c.cate_name
			 , p.pro_name
			 , p.pro_price
			 , p.pro_origin_img
			 , p.pro_change_img
			 , p.pro_origin_img1
			 , p.pro_change_img1
			 , p.pro_origin_detailimg
			 , p.pro_change_detailimg
			 , p.pro_white_stock
			 , p.pro_black_stock
		  from product p, seller_base s, category c
		 where p.pro_no = #{proNo} and p.sel_no = s.sel_no and c.cate_no = p.cate_no
	</select>
	
	<select id="selectReviewList" resultType="Product" resultMap="storeBoardResult">
		select r.pro_no, m.mem_nick, m.mem_img, r.review_date, r.review_img_origin, r.review_content, r.review_star, o.ord_option
			from product p, review r, member_base m, order_detail o
		  where r.pro_no=p.pro_no and m.mem_email=r.mem_email and o.ord_no=r.ord_no and r.status ='Y' and r.pro_no = #{proNo}
		  order by r.review_date desc
	</select>
	
	<select id="selectQuestionList" resultType="Product" resultMap="storeBoardResult">
		 select m.mem_nick, pq.pro_que_date, pq.pro_que_content, s.sel_bus_name, a.que_reply_date, a.que_reply_content, a.status, pq.status
			   ,pq.status, a.sel_no, pq.pro_que_type
			from member_base m, product_question pq, product p, seller_base s, pro_question_reply a
		  where m.mem_email = pq.mem_id 
		  		and p.pro_no = pq.pro_no 
		  		and p.status = 'Y'
		  		and pq.status = 'Y' 
		  		and a.status = 'Y'
		  		and pq.pro_no = #{proNo}
		  		and a.pro_no = #{proNo} 
		  		and a.sel_no = s.sel_No
		  		and a.pro_que_no = pq.pro_que_no
		  order by pq.pro_que_date, a.que_reply_date desc
	</select>
	
	
	<insert id="insertProduct">
		insert into product(pro_no, sel_no, cate_no, pro_white_stock, pro_black_stock, pro_name, pro_price, pro_origin_img,
							pro_change_img, pro_origin_detailimg, pro_change_detailimg, pro_origin_img1, pro_change_img1)
					values(pro_no_seq.nextval, #{selNo}, #{cateNo}, #{proWhiteStock}, #{proBlackStock}, #{proName}, #{proPrice}
							, #{proOriginImg}, #{proChangeImg}, #{proOriginDetailimg}, #{proChangeDetailimg}, #{proOriginImg1}, #{proChangeImg1})
	</insert>
	
	<update id="proDeleteBoard">
		update product
			set status = 'N'
		  where pro_no = #{proNo}
	</update>
	
	<update id="proUpdateBoard">
		update product
			set cate_no = #{cateNo}
				,pro_white_stock = #{proWhiteStock}
				,pro_black_stock = #{proBlackStock}
				,pro_name = #{proName}
				,pro_price = #{proPrice}
				,pro_origin_img = #{proOriginImg}
				,pro_change_img = #{proChangeImg}
				,pro_origin_detailimg = #{proOriginDetailimg}
				,pro_change_detailimg = #{proChangeDetailimg}
				,pro_origin_img1 = #{proOriginImg1}
		   where pro_no = #{proNo}
	</update>
	
	<insert id="insertQuestion">
		insert into product_question(pro_que_no, pro_no, mem_id, pro_que_type, pro_que_content)
				   values(proque_seq.nextval, #{proNo}, #{memId}, #{proQueType}, #{proQueContent})
	</insert>

</mapper>

