<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings> 
	<typeAliases>
		<typeAlias type="com.house.kh.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.house.kh.storeBoard.model.vo.Product" alias="Product" />
		<typeAlias type="com.house.kh.homeBoard.model.vo.HomeBoard" alias="HomeBoard" />
		<typeAlias type="com.house.kh.seller.model.vo.Seller" alias="Seller" />
		<typeAlias type="com.house.kh.homeBoard.model.vo.HomeReply" alias="HomeReply" />
		<typeAlias type="com.house.kh.charge.model.vo.Charge" alias="Charge" />
		<typeAlias type="com.house.kh.order.model.vo.Order" alias="Order" />
		<typeAlias type="com.house.kh.interrior.model.vo.Interrior" alias="Interrior" />
		<typeAlias type="com.house.kh.test.model.vo.Test" alias="Test" />
	</typeAliases> 
	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/storeBoard-mapper.xml" />
		<mapper resource="/mappers/homeBoard-mapper.xml" />
		<mapper resource="/mappers/charge-mapper.xml" />
		<mapper resource="/mappers/seller-mapper.xml" />
		<mapper resource="/mappers/order-mapper.xml" />
		<mapper resource="/mappers/interrior-mapper.xml" />
		<mapper resource="/mappers/test-mapper.xml" />
	</mappers>
</configuration>
